{{outlet}}

<section>
  <h3>Display Application Fixture Data</h3>
  {{#each model as |item|}}
    <div class="note">
      <p>
        <strong>{{item.title}}</strong><br>
        {{item.author}}<br>
        {{item.content}}
      </p>
    </div>
  {{/each}}
</section>

<footer id="info">
  <p>Stuff or Another</p>
</footer>
