<header id="header">
  <h2 id="title">Welcome to ASDFqwerty</h2>
  <h3>Enter your GitHub user name and a repository name</h3>
  <p>*Don't actually do this yet</p>
</header>

<form>
  <input type="text" placeholder="User Name"><br>
  <input type="text" placeholder="Repo Name"><br>
  <input type="submit"><br>
</form>
<footer>
  <a href="/something">Something</a>
</footer>
